#pressed img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

#notPressed img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;  
}

#board {
    z-index: 1;
}

#player1 #hand  {
    text-align:center;
    width: 100%;
}

#player2 #hand {
	text-align:center;
    width: 100%;
}

#player3 #hand  {
	text-align:center;
    width: 100%;
}

#player4 #hand {
	text-align:center;
    width: 100%; 
}

#player1 #hand img  {
    display: inline-block;  
}

#player2 #hand img {
    display: inline-block;
}

#player3 #hand img {
    display: inline-block;
}

#player4 #hand img {
    display: inline-block; 
}

#boardPiece {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin: 0 auto;
}

.rotated90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}


