#pressed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#notPressed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#player1 #hand  {
    text-align:center;
}

#player2 #hand {
	text-align:center;
}

#player3 #hand  {
	text-align:center;
}

#player4 #hand {
	text-align:center; 
}

#player1 #hand img  {
    display: inline-block;
}

#player2 #hand img {
    display: inline-block;
}

#player3 #hand img {
    display: inline-block;
}

#player4 #hand img {
    display: inline-block; 
}

#boardPiece {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin: 0 auto;
}


