#pressed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#notPressed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#player1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
}

#player2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
}

#player3 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
}

#player4 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
}

#boardPiece {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin: 0 auto;
}

img.domino {
	margin: 0 auto;
}

